body {
  overflow-y: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.user-list-wrap {
  margin-top: 20px;
  height: 400px;
  overflow-y: scroll;
}
.list-box {
  background-color: rgb(252, 150, 16);
  padding: 10px 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 10px;
}
.list-box h2 {
  margin-bottom: 5px;
}
.list-box b {
  margin-right: 10px;
}

.input-wrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: rgb(246, 246, 240);
  padding: 30px 30px 20px;
  border-radius: 5px;
}
.input-wrap input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(213, 213, 213);
}
.input-wrap button {
  padding: 10px;
  width: 100px;
  align-self: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(1, 206, 11);
  color: white;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

#visible-form-btn {
  background-color: rgb(1, 206, 11);
  padding: 30px 60px;
  font-size: 1.1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Noto Serif KR", serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(38, 38, 38, 0.75);
}
.modal-wrap {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 100;
  overflow: hidden;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.modal-wrap header {
  background-color: rgb(252, 150, 16);
  width: 100%;
  color: white;
  padding-left: 30px;
}
.modal-wrap header h2 {
  margin-bottom: 13px;
}
.modal-wrap .content {
  padding-top: 30px;
  color: black;
}
.modal-wrap footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
}
.modal-wrap footer button {
  padding: 10px 30px;
  background-color: rgb(1, 206, 11);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

#x-btn {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.button-group button:first-child {
  background-color: rgb(1, 206, 11);
  color: white;
}

.button-group button:last-child {
  background-color: #ccc;
  color: #333;
}
